body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #224667;
}

.navbar-inverse .navbar-brand {
    color: #224667;
}

.hscrollbar
{
overflow-x: auto; /*for horizontal scroll bar */
width:auto;
} 

.scrollbar
{
   height: 100px;
    width: 200px;
     overflow-y: scroll; 
     padding-right: 5px;
      border: solid 1px #C0C0C0;

}

.table th {
    background-color:#CFE5DB;
  }
/*to control the side bar height*/
/*.preventReflow { height: 700px; overflow-y: scroll; }*/




