@{
    ViewBag.Title = "Home";

}
@*<p class="lead "  style="background-color:tan"> Enterprise resource planning (ERP) is business process management software that allows an organization to use a system of integrated applications to manage the business and automate many back office functions related to technology, services and human resources. ERP software integrates all facets of an operation, including product planning, development, manufacturing, sales and marketing.*@
<div id="image" style="background: url(@Url.Content("~/Content/dist/img/Icons_ERP/finalCoverPicERP.gif")) no-repeat; width: 100%; height: 300px; background-size: 100%;"> </div>
@*</p>*@ 

<br />
 <p><a href="http://www.netsuite.com/portal/resource/articles/erp/what-is-erp.shtml" class="btn btn-success btn-lg">More Details &raquo;</a></p>

<div class="row">
    <div class="col-sm-3 col-xs-12">
        <h2 class="skin-green-light" style="color:darkolivegreen"> Mobile ERP  &nbsp;&nbsp; <a  href="http://www.iqms.com/products/mobile-erp-software.html" class="logo-mini" ><img src="~/Content/dist/img/Icons_ERP/icon-mobility.png" style="max-width:50px; margin-top: -3px;" /></a> </h2> 
        <p>
            Executives and employees want real-time access to information, regardless of where they are. It is expected that businesses will embrace mobile ERP for the reports, dashboards and to conduct key business processes.
        </p>
        <p><a class="btn btn-default" href="http://www.iqms.com/products/mobile-erp-software.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h2 class="skin-green-light" style="color:darkolivegreen">Cloud ERP &nbsp;&nbsp;<a href="https://cloud.oracle.com/erp-cloud" class="logo-mini"><img src="~/Content/dist/img/Icons_ERP/Cloud-Computing-300x300.jpg" style="max-width:50px; margin-top: -3px;" /></a> </h2>
        <p>The cloud has been advancing steadily into the enterprise for some time, but many ERP users have been reluctant to place data cloud. Those reservations have gradually been evaporating, however, as the advantages of the cloud become apparent.</p>
        <p><a class="btn btn-default" href="https://cloud.oracle.com/erp-cloud">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h2 class="skin-green-light" style="color:darkolivegreen">Social ERP &nbsp;&nbsp;<a href="http://www.workwisellc.com/what-is-social-erp/" class="logo-mini"><img src="~/Content/dist/img/Icons_ERP/Social-media-icon.jpg" style="max-width:50px; margin-top: -3px;" /></a> </h2>
        <p>
            There has been much hype around social media and how important – or not -- it is to add to ERP systems. Certainly, vendors have been quick to seize the initiative, adding social media packages to their ERP systems with much fanfare. But some wonder if there is really much gain to be had by integrating social media with ERP.
        </p>
        <p><a class="btn btn-default" href="http://www.workwisellc.com/what-is-social-erp/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h2 class="skin-green-light" style="color:darkolivegreen">Two-Tier ERP &nbsp;&nbsp; <a href="http://www.compudata.com/two-tier-erp-dual-erp-implementation/" class="logo-mini"><img src="~/Content/dist/img/Icons_ERP/two_tier.jpg" style="max-width:50px; margin-top: -3px;" /></a> </h2>
    <p>
        Enterprises once attempted to build an all-encompassing ERP system to take care of every aspect of organizational systems. But some expensive failures have gradually brought about a change in strategy – adopting two tiers of ERP.
    </p>
    <p><a class="btn btn-default" href="http://www.compudata.com/two-tier-erp-dual-erp-implementation/"> Learn more &raquo;</a></p>
</div>
</div>